* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  margin: 18vh auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-rows: 80px;
  background-color: rgb(221, 221, 221);
  width: 50%;
}

.displaySection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultDisplay {
  width: 100%;
  height: 90px;
  border: none;
  padding: 5px;
  font-size: 50px;
  text-align: right;
  background-color: rgb(133, 134, 147);
  color: white;
}

.buttonSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
}

.button {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  border: 0.5px solid rgb(178, 175, 175);
  background: transparent;
  cursor: pointer;
  padding: 4px;
}

button:hover {
  background-color: rgb(177, 174, 174);
  transition: 0.25s ease-in;
}

.operator {
  background-color: rgb(242, 136, 31);
}

.operator:focus {
  background-color: rgb(176, 70, 4);
}

.zeroBtn {
  grid-column: 1/3;
}
